@import "src/style/config/vars";
@import "src/style/helpers/mixins";

.table-wrap {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
}

.items-select {
  font-size: 14px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.items-select-table {
  display: block;
  font-size: 13px;
  width: 100%;
}

.items-select-table__grid {
  display: block;

  @include media-breakpoint-up($sm) {
    --grid-size: 3;
    align-items: center;
    border: none;
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    grid-template-columns: minmax(25px, 35px) repeat(var(--grid-size), 1fr);
    justify-content: center;
  }
}

.items-select-table__heading {
  color: rgba($gray-400, 0.8);
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0;
  position: relative;
  text-align: center;
  user-select: none;

  &:last-child {
    padding-right: 5px;
  }

  @include media-breakpoint-up($lg) {
    font-size: 14px;
  }
}

.items-select-table__sort-icon {
  margin-left: 8px;
  opacity: 0.7;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);

  svg {
    height: 6px;
    width: 10px;
  }
}

.items-select-table__row {
  background-color: rgba($gray-500, 0.05);
  box-shadow: 0px 5px 8px -5px rgba($black, 0.1);
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 5px 15px;
  position: relative;

  &::after {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 5px 8px -5px rgba($black, 0.1);
    content: none;
    height: calc(100% - 10px);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s ease;
    width: 100%;
    z-index: 1;
  }

  @include hover {
    cursor: pointer;

    &:hover {
      &::after {
        background-color: rgba($gray-500, 0.05);
      }
    }
  }

  @include media-breakpoint-up($sm) {
    background-color: transparent;
    box-shadow: none;
    display: grid;
    margin-bottom: 0;
    padding: 0;

    &::after {
      content: "";
    }
  }
}

.items-select-table__data {
  align-items: center;
  color: $gray-500;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 0;
  text-align: right;
  z-index: 2;

  &:not(:last-child):not(.items-select-table__data--mobile-hide-label) {
    border-bottom: 1px solid rgba($gray-500, 0.1);
  }

  &:nth-of-type(3) {
    text-transform: uppercase;
  }

  &::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
    text-transform: none;
  }

  @include media-breakpoint-up($sm) {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    min-height: 75px;

    &:not(:last-child):not(.items-select-table__data--mobile-hide-label) {
      border-bottom: none;
    }

    &::before {
      content: none;
    }
  }
}

.items-table__data-old-item-id {
  color: rgb(129, 125, 92);
  font-size: 10px;
  font-weight: bold;
}

.items-select-table__data--ev-number {
  text-align: right;
  grid-template-areas:
    "label id"
    "label oldId";

  &::before {
    grid-area: label;
  }

  @include media-breakpoint-up($md) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.items-select-table__header {
  background: $background;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: none;

  @include media-breakpoint-up($md) {
    display: grid;
  }
}

.items-select-table__data--mobile-hide-label {
  @include media-breakpoint-down($sm) {
    grid-template-columns: 1fr;
    text-align: left;
    padding: 0;

    .items-table__checkbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      appearance: none;

      &::before {
        content: none;
      }

      &::after {
        background-color: rgba($primary, 0.1);
        background-image: none;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        transform: none;
      }
    }

    &::before {
      display: none;
      content: none;
    }
  }
}
